@font-face {
    font-family: 'Overpass';
    src: url('Overpass-Italic.woff2') format('woff2'),
        url('Overpass-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Overpass';
    src: url('Overpass-Regular.woff2') format('woff2'),
        url('Overpass-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

