<section id="experiences">
  <h2 class="linha-inteira">Experiências</h2>
  <div class="wrap-grid">
    <div class="card" style="background-image: url(/assets/images/bg-sysvision.png);">
      <div class="card-img">
        <img src="../../assets/images/logo-sysvision.png" alt="logo sysvision" style="max-height: 56px;">
      </div>
      <div class="card-content">
        <h5 class="empresa">Sysvision</h5>
        <p class="descricao">
          Desenvolvimento do Portal do Tribunal de Contas da Angola (TCA) com foco em Front-End utilizando Liferay 7.
        </p>
        <div class="tecnologias">
          <span>HTML/CSS</span>
          <span>Jquery</span>
          <span>Liferay</span>
          <span>Azure DevOps</span>
        </div>
      </div>
    </div>
    <div class="half-card" style="background-image: url(/assets/images/sussu_app.png);">
      <div class="card-content">
        <h5 class="empresa">Sussu Seguros</h5>
        <p class="descricao">
          Aplicativo de seguros e serviços.
        </p>
        <div class="tecnologias">
          <span>Angular</span>
          <span>UX/UI</span>
        </div>
      </div>
    </div>
    <div class="half-card" style="background-image: url(/assets/images/bg-vibe.png);">
      <div class="card-content">
        <h5 class="empresa">Vibe Bank (case de estudo)</h5>
        <p class="descricao">
          Estudo de Full-Stack para um processo seletivo do Vibe Bank.
        </p>
        <div class="tecnologias">
          <span>Angular</span>
          <span>UX/UI</span>
          <span>Node.js</span>
          <span>MongoDB</span>
        </div>
      </div>
    </div>
    <div class="card" style="background-image: url(/assets/images/bg-uol.jpg); background-position: bottom;">
      <div class="card-content">
        <h5 class="empresa">UOL EdTech</h5>
        <p class="descricao">
          Desenvolvimento de projetos WEB para clientes que buscam soluções para cursos corporativos. Plataformas de EAD que utilizam o padrão SCORM do mercado.
        </p>
        <div class="tecnologias">
          <span>HTML/CSS</span>
          <span>SCSS</span>
          <span>JS Vanilla/Jquery</span>
          <span>SCORM</span>
        </div>
      </div>
    </div>
    <div class="half-card" style="background-image: url(/assets/images/bg-vector.png);">
      <div class="card-content">
        <h5 class="empresa">Vector ITC</h5>
        <p class="descricao">
          Desenvolvimento no Internet Banking utilizando a ferramenta Liferay e metodologia Scrum.
        </p>
        <div class="tecnologias">
          <span>Liferay</span>
          <span>Java</span>
          <span>Jquery</span>
        </div>
      </div>
    </div>
    <div class="half-card" style="background-image: url(/assets/images/bg-everis.jpg);">
      <div class="card-content">
        <h5 class="empresa">Everis</h5>
        <p class="descricao">
          Análise de incidentes em um time de sustentação.
        </p>
        <div class="tecnologias">
          <span>Liferay</span>
          <span>Java</span>
          <span>Jquery</span>
        </div>
      </div>
    </div>
  </div>
</section>