*{
  color: var(--color-3);
  line-height: 1.4;
}

.subtitle{
  font-size: var(--font-size-body);
  margin-bottom: 1rem;
}
.title{
  font-size: var(--font-size-hero);
  font-weight: bolder;
  letter-spacing: 2px;
  line-height: 1.2;
  margin-bottom: 1rem;
}
.clr-secondary{
  color: var(--color-2);
}

.button{
  color: var(--color-3);
  background-color: var(--color-3);
  border: solid 2px var(--color-3);
  font-size: var(--font-size-body);
  padding: .6rem 1rem;
  margin-right: 1rem;
  transition: .6s;
  
  &.outline{
    background-color: transparent;
    color: var(--color-3);
    
    &:hover{
      color: var(--color-3);
      box-shadow: inset 10rem 0 0 0 var(--color-1);
      color: var(--color-4);
      border-color: var(--color-1);
    }
  }

  &:hover{
    cursor: pointer;
    color: var(--color-3);
    box-shadow: inset 10rem 0 0 0 var(--color-2);
  }
}

.intro-footer{
  position: absolute;
  bottom: 24px;

  .small-text{
    font-size: calc(var(--font-size-body) - 2px);
  }
}