<section id="my-profile">
  <article id="sobre">
    <h2>Sobre</h2>
    <h4>
      Meu nome é Victor Kiam, desenvolvedor Front-End com 10 anos de experiência no mercado. Sou entusiasta de figuras geométricas e minimalismo, gosto de criar interfaces sólidas, funcionais e interativas utilizando as tecnologias mais atuais do mercado.
    </h4>
  </article>
  <article id="skills">
    <h5 class="mt-5">Competências técnicas</h5>
    <p>
      Atualmente, estou focado no aperfeiçoamento em React.js e iniciando meus estudos em desenvolvimento Full-Stack com Node.js e MongoDB.
    </p>
    <p>Também possuo experiência com HTML, CSS (SCSS), Java, JavaScript (Vanilla, jQuery e React.js), TypeScript (Angular), Liferay e desenvolvimento de conteúdos no padrão SCORM.</p>
  </article>
  <article id="pessoal">
    <h5>Pessoal</h5>
    <p> Nascido e criado no Japão durante a infância, tive a oportunidade de vivenciar de perto a cultura local. Possuo conhecimento intermediário da língua japonesa.</p>
    <p class="jp-txt">
      よろしくお願いします。
      <span class="tooltiptext">Muito prazer em conhecê-lo(a).</span>
    </p>
  </article>
</section>