<section id="my-profile">
  <article id="sobre">
    <h2>Sobre</h2>
    <h4>Meu nome é Victor Kiam, entusiasta de figuras geométricas e minimalismo, além de desenvolvedor Front-End a 7 anos no mercado. Gosto criar visuais sólidos e interativos utilizando as ferramentas atuais do mercado.</h4>
  </article>
  <article id="skills">
    <h5 class="mt-5">Competências técnicas</h5>
    <p>Atualmente meu foco está no aperfeiçoamento de Angular e começando os estudos de Full-Stack utilizando Node.js + MongoDB.</p>
    <p>Também já tive experiência com os seguintes: HTML e CSS (SCSS), Java, JS (Vanilla | Jquery), Liferay e SCORM.</p>
  </article>
  <article id="pessoal">
    <h5>Pessoal</h5>
    <p>Nascido e criado no Japão por toda infância, já tive a oportunidade de vivenciar e experimentar sobre a cultura local. Apesar de limitado, tenho conhecimento da língua do meu país natal.</p>
    <p class="jp-txt">
      よろしくお願いします。
      <span class="tooltiptext">Muito prazer em conhecê-lo(a).</span>
    </p>
  </article>
</section>