<section id="contact-me">
  <article id="sobre">
    <h2>Entre em contato</h2>
    <p>Vamos trabalhar juntos :)</p>

    <div class="contact-buttons">
      <a href="https://wa.me/551194814848?text=Vi%20seu%20portfólio%20e%20gostaria%20de%20conversar%20contigo!" class="card-contato" target="_blank">
        <div class="box-img">
          <img src="meu_portfolio/assets/images/whatsapp.png" alt="ícone-whatsapp">
        </div>
        <div class="info">
          <div class="titulo">
            Telefone
          </div>
          <div class="subtitulo">
            (11) 94814-8348
          </div>
        </div>
      </a>
      <a href="mailto:victorkiam@msn.com" class="card-contato">
        <div class="box-img">
          <img src="meu_portfolio/assets/images/mail.png" alt="ícone-mail">
        </div>
        <div class="info">
          <div class="titulo">
            E-mail
          </div>
          <div class="subtitulo">
            victorkiam&#64;msn.com
          </div>
        </div>
      </a>
      <a href="https://www.linkedin.com/in/victor-kiam/" class="card-contato" target="_blank">
        <div class="box-img">
          <img src="meu_portfolio/assets/images/linkedin.png" alt="ícone-linkedin">
        </div>
        <div class="info">
          <div class="titulo">
            LinkedIn
          </div>
          <div class="subtitulo">
            &#64;Victor-Kiam
          </div>
        </div>
      </a>
    </div>
  </article>
</section>