<div class="main-page">
  <div class="menu">
    <app-menu></app-menu>
  </div>
  <!-- <div class="signature">
  </div> -->
  <div class="main-text" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
    <app-intro-message></app-intro-message>
  </div>
  <div class="main-content">
    <!-- <router-outlet></router-outlet> -->
    <app-hero-img></app-hero-img>
    <app-my-profile></app-my-profile>
    <app-experiences></app-experiences>
    <app-contact-me></app-contact-me>
  </div>
</div>
